
<!-- START Want Button Code for Shopify Platform Rev.2011-09-01 -->
<script src="http://button.wanttt.com/button/script/"></script>
<a href="http://wanttt.com/want/initial_popup/"
	data-merchant_name="{{ shop.name | escape }}"
	data-title="{{ product.title }}"
	data-price="{{ product.price | money }}"
	data-image_url="{{ product.images[0] | product_img_url: "large"  |replace: '?', '%3F' | replace: '&','%26'}}"
	data-count="true"
	data-style="wb2"
	data-page_source="product"
	class="wantButton"></a>
<!-- END   Want Button Code for Shopify Platform -->
